openapi: 3.1.0
info:
  title: PCSS — Phosra Child Safety Specification
  version: 1.0.0-public-review
  description: |
    The runtime API surface for the Phosra Child Safety Specification.
    PCSS defines a wire format between the demand side of the child-safety
    network (parents, parental-control products, schools) and the supply
    side (platforms, OS makers, device makers, ISPs).

    This OpenAPI document is the machine-readable form of PCSS v1.0. The
    canonical spec lives in [pcss-v1.0.md](pcss-v1.0.md).

    Status: v1.0 public review. NOT yet ratified by an independent body.
    See [GOVERNANCE.md](../GOVERNANCE.md).
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  contact:
    name: PCSS maintainers
    url: https://github.com/phosra-spec/pcss
servers:
  - url: https://api.phosra.com/v1
    description: Phosra reference implementation
  - url: https://{adopter}.{tld}/pcss/v1
    description: Adopter-hosted endpoint
    variables:
      adopter:
        default: api
      tld:
        default: example.com
tags:
  - name: bearing
    description: 'Capability §3: Canonical age signal.'
  - name: lens
    description: 'Capability §4: Tier evaluation.'
  - name: threshold
    description: 'Capability §5: Parental consent + access boundaries.'
  - name: aegis
    description: 'Capability §6: Hard blocks.'
  - name: herald
    description: 'Capability §7: Notifications and reports.'
  - name: custody
    description: 'Capability §8: Data minimization and deletion.'
  - name: verdict
    description: 'Capability §9: Algorithmic audit decisions.'
  - name: notary
    description: 'Capability §10: Signed receipts.'
paths:
  /bearing/identify:
    post:
      tags:
        - bearing
      summary: Issue or fetch the canonical age signal for the requesting user
      description: |
        Bearing.identify is invoked by a Bearing Consumer (e.g., a
        parental-control app or platform Lens evaluator) to obtain the
        canonical age signal for the current user. See PCSS §3.
      operationId: bearingIdentify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
              properties:
                subject:
                  type: object
                  description: Opaque subject identifier (e.g., OS account, platform account, or third-party verifier handle).
                jurisdiction:
                  type: string
                  pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
                acceptable_confidence:
                  type: array
                  items:
                    type: string
                    enum:
                      - attested
                      - inferred
                      - unverified
      responses:
        '200':
          description: Bearing envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bearing'
        '401':
          description: Authentication required.
        '404':
          description: No bearing available for this subject.
  /lens/evaluate:
    post:
      tags:
        - lens
      summary: Evaluate which rules apply for a (bearing, surface, jurisdiction) triple
      description: |
        Lens.evaluate is invoked by an implementer (typically a platform
        or parental-control app) to determine the applicable rules for a
        given user action. Returns a Verdict envelope. See PCSS §4.
      operationId: lensEvaluate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bearing
                - surface
                - capability
              properties:
                bearing:
                  $ref: '#/components/schemas/bearing'
                surface:
                  type: string
                  description: Registered surface identifier (e.g., `feed-rank`, `dm-inbound`, `purchase-flow`).
                capability:
                  type: string
                  description: Consumer capability (`recommender`, `messaging`, `commerce`, `content-feed`, `chatbot`, etc.).
                jurisdiction:
                  type: string
                  pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
      responses:
        '200':
          description: |
            Verdict envelope. Per spec §4.2, default-deny verdicts (missing
            bearing, unresolved issuer, expired signature, ambiguous conflict,
            service degradation) are returned at 200 with `allow: false` and
            `reason: "lens:default_deny"`. The HTTP layer reserves 4xx for
            request shape issues only — never for policy outcomes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verdict'
        '422':
          description: |
            Request body does not validate against the JSON Schema. No
            Verdict is produced; the implementer MUST NOT allow the action
            and SHOULD log this as an integration defect.
  /threshold/check:
    post:
      tags:
        - threshold
      summary: Check that parental consent has been granted for a given scope
      operationId: thresholdCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bearing
                - scope
              properties:
                bearing:
                  $ref: '#/components/schemas/bearing'
                scope:
                  type: string
                  description: Requested scope (e.g., `dm:friends-only`, `purchases:requires-approval`).
      responses:
        '200':
          description: Threshold verdict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verdict'
  /aegis/check:
    post:
      tags:
        - aegis
      summary: Check whether an action triggers a non-negotiable block
      description: |
        Aegis.check is invoked before any action that might fall into a
        hard-block category (CSAM, gambling for minors, dark patterns).
        See PCSS §6.
      operationId: aegisCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bearing
                - category
                - content
              properties:
                bearing:
                  $ref: '#/components/schemas/bearing'
                category:
                  type: string
                  enum:
                    - csam
                    - gambling-minors
                    - dark-patterns
                    - age-inappropriate-monetization
                content:
                  type: object
                  description: Implementation-specific. May include image hash, URL, etc.
      responses:
        '200':
          description: Aegis verdict. allow is always false; reason carries the category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verdict'
  /notary/sign:
    post:
      tags:
        - notary
      summary: Sign a verdict to produce a regulator-replayable receipt
      operationId: notarySign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - verdict
              properties:
                verdict:
                  $ref: '#/components/schemas/verdict'
      responses:
        '200':
          description: Signed Notary Receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receipt'
  /notary/verify:
    post:
      tags:
        - notary
      summary: Verify a receipt's signature and replay its underlying verdict
      operationId: notaryVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - receipt
              properties:
                receipt:
                  $ref: '#/components/schemas/receipt'
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                type: object
                required:
                  - valid
                  - replays
                properties:
                  valid:
                    type: boolean
                    description: True if signature is valid and the receipt is within its expiration window.
                  replays:
                    type: boolean
                    description: True if re-executing the underlying Lens evaluation produces the same verdict.
  /registry/rules:
    get:
      tags:
        - lens
      summary: List all rules in the PCSS registry
      operationId: registryListRules
      parameters:
        - name: capability
          in: query
          schema:
            type: string
            enum:
              - bearing
              - lens
              - threshold
              - aegis
              - herald
              - custody
              - verdict
              - notary
        - name: jurisdiction
          in: query
          schema:
            type: string
            pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
      responses:
        '200':
          description: Array of rule registry entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/rule'
components:
  schemas:
    Bearing:
      $ref: '#/components/schemas/bearing'
    Verdict:
      $ref: '#/components/schemas/verdict'
    Receipt:
      $ref: '#/components/schemas/receipt'
    Rule:
      $ref: '#/components/schemas/rule'
    bearing:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://pcss.phosra-spec.org/v1/schema/bearing.json
      title: PCSS Bearing Envelope
      description: The canonical age signal — produced by a Bearing Provider (typically an OS, account-level service, or third-party verifier) and consumed by Lens, Threshold, Aegis, and other PCSS runtime capabilities. See PCSS §3.
      type: object
      required:
        - bearing_id
        - age_band
        - confidence
        - issued_at
        - issuer
        - jurisdiction
        - signature
      properties:
        bearing_id:
          type: string
          description: Stable, opaque identifier for this bearing envelope. MUST NOT be reused across users.
          pattern: ^brng_[A-Za-z0-9_-]{16,128}$
        age_band:
          type: string
          enum:
            - 0-5
            - 6-9
            - 10-12
            - 13-15
            - 16-17
            - adult
          description: Coarse age band. Exact ages MUST NOT be transmitted.
        confidence:
          type: string
          enum:
            - attested
            - inferred
            - unverified
          description: How the age signal was established. 'attested' implies verifiable parental consent (VPC); 'inferred' implies behavioral or account signals; 'unverified' implies no positive establishment.
        issued_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when this envelope was issued.
        expires_at:
          type: string
          format: date-time
          description: 'Optional ISO 8601 timestamp after which the envelope MUST be re-issued. Default: 30 days for unverified, 90 days for inferred, 365 days for attested.'
        issuer:
          type: string
          description: Registered identifier of the Bearing Provider that issued this envelope. e.g., 'os:apple', 'os:google', 'verifier:yoti'.
          pattern: ^(os|account|verifier|civil-society):[a-z0-9-]+$
        jurisdiction:
          type: string
          description: ISO 3166 country code with optional sub-region. e.g., 'US-CA', 'EU', 'UK', 'AU'.
          pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
        signature:
          type: object
          required:
            - alg
            - value
            - key_id
          properties:
            alg:
              type: string
              description: Signature algorithm. v1.0 mandates 'ed25519'. v1.1 adds hybrid suites (e.g., 'ed25519+ml-dsa-65').
              pattern: ^[a-z][a-z0-9+-]+$
            value:
              type: string
              description: Base64url-encoded 64-byte ed25519 signature. Exactly 86 characters, no padding.
              pattern: ^[A-Za-z0-9_-]{86}$
            key_id:
              type: string
              description: Issuer's key identifier; resolves to a public key in the PCSS registry.
            alternate_signatures:
              type: array
              description: Optional parallel signatures for hybrid suites (e.g., post-quantum). Each MUST sign the same canonical envelope.
              items:
                type: object
                required:
                  - alg
                  - value
                  - key_id
                properties:
                  alg:
                    type: string
                    pattern: ^[a-z][a-z0-9+-]+$
                  value:
                    type: string
                    pattern: ^[A-Za-z0-9_-]+$
                  key_id:
                    type: string
                additionalProperties: false
            extensions:
              type: object
              description: Per-signature implementer extensions. Keys MUST carry a vendor prefix (e.g., 'apple:'). Keys MUST carry a vendor prefix; PII fields are forbidden regardless of prefix.
              propertyNames:
                pattern: ^[a-z][a-z0-9-]*:[a-z0-9_-]+$
              not:
                anyOf:
                  - required:
                      - email
                  - required:
                      - phone
                  - required:
                      - name
                  - required:
                      - first_name
                  - required:
                      - last_name
                  - required:
                      - full_name
                  - required:
                      - device_id
                  - required:
                      - imei
                  - required:
                      - idfa
                  - required:
                      - gaid
                  - required:
                      - mac_address
                  - required:
                      - ssn
                  - required:
                      - dob
                  - required:
                      - birth_date
                  - required:
                      - birthdate
                  - required:
                      - birthday
                  - required:
                      - lat
                  - required:
                      - lon
                  - required:
                      - latitude
                  - required:
                      - longitude
                  - required:
                      - precise_geo
                  - required:
                      - ip
                  - required:
                      - ip_address
          additionalProperties: false
        extensions:
          type: object
          description: Optional implementer-specific extensions. Keys MUST carry a vendor prefix (e.g., 'apple:'). Keys MUST carry a vendor prefix; PII fields are forbidden regardless of prefix.
          propertyNames:
            pattern: ^[a-z][a-z0-9-]*:[a-z0-9_-]+$
          not:
            anyOf:
              - required:
                  - email
              - required:
                  - phone
              - required:
                  - name
              - required:
                  - first_name
              - required:
                  - last_name
              - required:
                  - full_name
              - required:
                  - device_id
              - required:
                  - imei
              - required:
                  - idfa
              - required:
                  - gaid
              - required:
                  - mac_address
              - required:
                  - ssn
              - required:
                  - dob
              - required:
                  - birth_date
              - required:
                  - birthdate
              - required:
                  - birthday
              - required:
                  - lat
              - required:
                  - lon
              - required:
                  - latitude
              - required:
                  - longitude
              - required:
                  - precise_geo
              - required:
                  - ip
              - required:
                  - ip_address
        device_attestation:
          type: object
          description: Optional device-attestation envelope. v1.1 will make this required for OS-level Bearing Providers per security.md OI-8.
          properties:
            platform:
              type: string
              enum:
                - apple-app-attest
                - android-play-integrity
                - windows-attestation
                - tpm-2.0
            token:
              type: string
            issued_at:
              type: string
              format: date-time
          additionalProperties: false
        pairwise_for:
          type: string
          description: Optional pairwise-pseudonym consumer audience. When present, the bearing_id is derived per-consumer (HKDF(root_bearing, consumer_id)). v1.1 will make this required per security.md OI-5.
          pattern: ^[a-z]+:[a-z0-9-]+$
      additionalProperties: false
    verdict:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://pcss.phosra-spec.org/v1/schema/verdict.json
      title: PCSS Verdict Envelope
      description: The output of a Lens evaluation, Threshold consent check, or Aegis block. Every verdict is signed by Notary (§10) for replay. See PCSS §9.
      type: object
      required:
        - verdict_id
        - allow
        - reason
        - cited
        - bearing_id
        - evaluated_at
      properties:
        verdict_id:
          type: string
          description: Stable opaque identifier.
          pattern: ^vrd_[A-Za-z0-9_-]{16,128}$
        allow:
          type: boolean
          description: True if the action is allowed; false if blocked.
        reason:
          type: string
          description: 'Registered PCSS reason code. Format: ''capability:short-name'', e.g., ''aegis:csam'', ''lens:recommender_off_minor'', ''threshold:vpc_required''.'
          pattern: ^[a-z]+:[a-z0-9_-]+$
        cited:
          type: array
          description: Statute or treaty citations that justify this verdict.
          items:
            type: string
            examples:
              - KOSA-§4(b)(2)
              - CA-AADC-§22675(a)(2)
              - COPPA-§312.5
          minItems: 1
        bearing_id:
          type: string
          description: Reference to the Bearing envelope that produced this verdict.
        evaluated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of evaluation.
        explanation:
          type: string
          description: Human-readable explanation (used in regulator/parent notifications). MUST be present if the verdict is to be surfaced to a non-technical audience.
          maxLength: 1000
        surface:
          type: string
          description: Registered surface identifier for the evaluation (e.g., 'feed-rank', 'dm-inbound', 'purchase-flow').
          pattern: ^[a-z][a-z0-9_-]*$
        capability:
          type: string
          enum:
            - bearing
            - lens
            - threshold
            - aegis
            - herald
            - custody
            - verdict
            - notary
          description: The runtime capability that produced this verdict.
        jurisdictions:
          type: array
          description: All jurisdictions cited in the verdict. If multiple, the stricter rule was applied per §4.3.
          items:
            type: string
            pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
          minItems: 1
        extensions:
          type: object
          description: Implementer-specific extensions. Keys MUST carry a vendor prefix; PII fields are forbidden regardless of prefix.
          propertyNames:
            pattern: ^[a-z][a-z0-9-]*:[a-z0-9_-]+$
          not:
            anyOf:
              - required:
                  - email
              - required:
                  - phone
              - required:
                  - name
              - required:
                  - first_name
              - required:
                  - last_name
              - required:
                  - full_name
              - required:
                  - device_id
              - required:
                  - imei
              - required:
                  - idfa
              - required:
                  - gaid
              - required:
                  - mac_address
              - required:
                  - ssn
              - required:
                  - dob
              - required:
                  - birth_date
              - required:
                  - birthdate
              - required:
                  - birthday
              - required:
                  - lat
              - required:
                  - lon
              - required:
                  - latitude
              - required:
                  - longitude
              - required:
                  - precise_geo
              - required:
                  - ip
              - required:
                  - ip_address
        nonce:
          type: string
          description: Optional verdict nonce bound to the surface request. v1.1 will make this required per security.md OI-2 (replay defense).
          pattern: ^[A-Za-z0-9_-]{16,128}$
        registry_version:
          type: string
          description: Rule registry version this evaluation was performed against. v1.1 will make this required for Notary replay determinism per §4.3.6.
          pattern: ^v[0-9]+\.[0-9]+(\.[0-9]+)?(-[a-z0-9-]+)?$
      additionalProperties: false
    receipt:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://pcss.phosra-spec.org/v1/schema/receipt.json
      title: PCSS Notary Receipt
      description: Regulator-ready signed enforcement receipt. Wraps a Verdict (§9) in a signed envelope for replay by a regulator or civil-society auditor. See PCSS §10.
      type: object
      required:
        - receipt_id
        - verdict
        - bearing_id
        - issued_at
        - signature
        - spec
      properties:
        receipt_id:
          type: string
          description: Stable opaque identifier.
          pattern: ^ntry_[A-Za-z0-9_-]{16,128}$
        verdict:
          $ref: '#/components/schemas/verdict'
          description: The wrapped Verdict envelope.
        bearing_id:
          type: string
          description: Reference to the underlying Bearing envelope (for replay).
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          description: 'Optional receipt expiration. Default: 7 years (covers most regulatory retention windows).'
        spec:
          type: string
          description: PCSS version under which this receipt was generated.
          pattern: ^PCSS-v[0-9]+\.[0-9]+(\.[0-9]+)?(-[a-z0-9-]+)?$
          examples:
            - PCSS-v1.0
        signature:
          type: object
          required:
            - alg
            - value
            - key_id
          properties:
            alg:
              type: string
              description: Signature algorithm. v1.0 mandates 'ed25519'. v1.1 adds hybrid suites (e.g., 'ed25519+ml-dsa-65').
              pattern: ^[a-z][a-z0-9+-]+$
            value:
              type: string
              description: Base64url-encoded 64-byte ed25519 signature. Exactly 86 characters, no padding.
              pattern: ^[A-Za-z0-9_-]{86}$
            key_id:
              type: string
              description: Signer's key identifier. Resolves to a public key in the PCSS registry.
            timestamp_authority:
              type: string
              description: Optional RFC 3161 trusted timestamp authority identifier.
            alternate_signatures:
              type: array
              description: Optional parallel signatures for hybrid suites (e.g., post-quantum). Each MUST sign the same canonical envelope.
              items:
                type: object
                required:
                  - alg
                  - value
                  - key_id
                properties:
                  alg:
                    type: string
                    pattern: ^[a-z][a-z0-9+-]+$
                  value:
                    type: string
                    pattern: ^[A-Za-z0-9_-]+$
                  key_id:
                    type: string
                additionalProperties: false
            extensions:
              type: object
              description: Per-signature implementer extensions. Keys MUST carry a vendor prefix (e.g., 'apple:'). Keys MUST carry a vendor prefix; PII fields are forbidden regardless of prefix.
              propertyNames:
                pattern: ^[a-z][a-z0-9-]*:[a-z0-9_-]+$
              not:
                anyOf:
                  - required:
                      - email
                  - required:
                      - phone
                  - required:
                      - name
                  - required:
                      - first_name
                  - required:
                      - last_name
                  - required:
                      - full_name
                  - required:
                      - device_id
                  - required:
                      - imei
                  - required:
                      - idfa
                  - required:
                      - gaid
                  - required:
                      - mac_address
                  - required:
                      - ssn
                  - required:
                      - dob
                  - required:
                      - birth_date
                  - required:
                      - birthdate
                  - required:
                      - birthday
                  - required:
                      - lat
                  - required:
                      - lon
                  - required:
                      - latitude
                  - required:
                      - longitude
                  - required:
                      - precise_geo
                  - required:
                      - ip
                  - required:
                      - ip_address
          additionalProperties: false
        implementer:
          type: string
          description: Registered identifier of the implementer that emitted this receipt. e.g., 'platform:roblox', 'app:bark', 'controls:nextdns'.
          pattern: ^[a-z]+:[a-z0-9-]+$
        extensions:
          type: object
          description: Implementer-specific extensions. Keys MUST carry a vendor prefix; PII fields are forbidden regardless of prefix.
          propertyNames:
            pattern: ^[a-z][a-z0-9-]*:[a-z0-9_-]+$
          not:
            anyOf:
              - required:
                  - email
              - required:
                  - phone
              - required:
                  - name
              - required:
                  - first_name
              - required:
                  - last_name
              - required:
                  - full_name
              - required:
                  - device_id
              - required:
                  - imei
              - required:
                  - idfa
              - required:
                  - gaid
              - required:
                  - mac_address
              - required:
                  - ssn
              - required:
                  - dob
              - required:
                  - birth_date
              - required:
                  - birthdate
              - required:
                  - birthday
              - required:
                  - lat
              - required:
                  - lon
              - required:
                  - latitude
              - required:
                  - longitude
              - required:
                  - precise_geo
              - required:
                  - ip
              - required:
                  - ip_address
        prev_receipt_hash:
          type: string
          description: Optional SHA-256 hash of the previous receipt's canonical form, base64url. v1.1 will make this required per security.md OI-10 (append-only integrity).
          pattern: ^[A-Za-z0-9_-]{43}$
      additionalProperties: false
    rule:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://pcss.phosra-spec.org/v1/schema/rule.json
      title: PCSS Rule Registry Entry
      description: A single rule in the PCSS rule registry. Each rule maps a statutory requirement to a PCSS capability. The registry as a whole is the cross-jurisdictional rulebook.
      type: object
      required:
        - slug
        - capability
        - category
        - statutes
        - summary
        - enforcement_status
      properties:
        slug:
          type: string
          description: Canonical slug for the rule. Used in Verdict reason codes.
          pattern: ^[a-z][a-z0-9_]*$
        capability:
          type: string
          enum:
            - charter
            - bearing
            - lens
            - threshold
            - aegis
            - herald
            - custody
            - verdict
            - notary
          description: Which PCSS capability implements this rule.
        category:
          type: string
          description: Categorical group (e.g., 'algorithmic', 'privacy', 'access_control', 'content').
          pattern: ^[a-z_]+$
        statutes:
          type: array
          description: Statutes this rule maps to.
          items:
            type: object
            required:
              - jurisdiction
              - citation
            properties:
              jurisdiction:
                type: string
                pattern: ^[A-Z]{2}(-[A-Z]{2,3})?$
              citation:
                type: string
                examples:
                  - KOSA-§4(b)(2)
                  - CA-AADC-§22675(a)(2)
              url:
                type: string
                format: uri
          minItems: 1
        summary:
          type: string
          description: One-line summary of the rule.
          maxLength: 200
        applies_to_ages:
          type: array
          description: Which Bearing age_bands trigger this rule.
          items:
            type: string
            enum:
              - 0-5
              - 6-9
              - 10-12
              - 13-15
              - 16-17
              - adult
        default_outcome:
          type: string
          enum:
            - allow
            - deny
            - warn
          description: Default outcome when rule is triggered. Most enforcement rules default to 'deny'.
        enforcement_status:
          type: string
          enum:
            - in_force
            - in_force_phased
            - in_force_partial_injunction
            - proposed
            - enjoined
            - superseded
            - repealed
          description: Whether the underlying statute is currently enforceable. Rules with status != 'in_force' should be advisory; conformance runners MUST surface non-in_force rules as informational and MUST NOT count them as required for badge eligibility unless explicitly opted in by the implementer.
        advisory:
          type: boolean
          default: false
          description: If true, the rule produces guidance rather than enforcement. MUST be true for `proposed` status; SHOULD be true for `enjoined` or `phased` rules whose effective date is more than 90 days in the future.
        applicable_from:
          type: string
          format: date
          description: ISO date when the underlying statute takes effect. Used for `in_force_phased` rules (e.g., CA AB 1043 effective 2027-01-01).
        applicable_until:
          type: string
          format: date
          description: ISO date when the underlying statute ceased to apply (`repealed` or `superseded`).
        superseded_by:
          type: array
          description: If this rule has been superseded, slugs of replacement rules.
          items:
            type: string
            pattern: ^[a-z][a-z0-9_]*$
        introduced_in:
          type: string
          pattern: ^v[0-9]+\.[0-9]+
          description: PCSS version in which this rule was introduced.
        deprecated_in:
          type: string
          pattern: ^v[0-9]+\.[0-9]+
          description: PCSS version in which this rule was deprecated.
      additionalProperties: false
